{% load static %}
<html>
    <head>
        <title>Spencer's Website</title>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'proapp/css/materialize.min.css' %}"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Chat</span>
                        <p id="messages"></p>
                    </div>
                    <div class="card-action">
                        <input id="messagebox" type="text" maxlength="200" placeholder="Message" name="textbox" />
                    </div>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="card orange lighten-4">
                    <div class="card-content">
                        <span class="card-title">Online</span>
                        <p id="online"></p>
                        <p id="nummessages"></p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'proapp:reseteverything' %}">NUKE EVERYTHING AND EVERYONE</a>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="{% static 'proapp/js/materialize.min.js' %}"></script>
    </body>

    <script>
        

        var html = "";
        var oldhtml = "";


        nummessageshtml = "";
        onlinehtml = "";
        oldnummessageshtml = "";
        oldonlinehtml = "";
        
        setInterval(function()
        { 

            
            getJSON('{% url "proapp:getmessages" %}',
            function(err, data) {
            if (err !== null) {
                html = "error";
            } else {

                // UPDATE MESSAGE FEED
                oldhtml = html;
                html = "";
                data.messlist.forEach(function (arrayItem) {
                    //html = "<div id='row'><div class='col s12'>" + arrayItem.message_text + "</div></div>" + html;
                    //html = "<br>" + arrayItem.message_text + html;
                    if (arrayItem.me == "true") {
                        html = "<div class='row'><div class='col s6 offset-s6'><div class='card green'><div class='card-content'>" + arrayItem.message_text + "</div></div></div></div>" + html;
                    } else {
                        html = "<div class='row'><div class='col s6'><div class='card'><div class='card-content'>" + arrayItem.message_text + "</div></div></div></div>" + html;
                    }
                });
                html = "" + html + "";
                

                // UPDATE STATS FEED
                oldnummessageshtml = nummessageshtml;
                oldonlinehtml = onlinehtml;
                nummessageshtml = "";
                onlinehtml = "";
                nummessageshtml = "Total Messages Sent: <b>" + data.statlist.nummessages + "</b>";
                onlinehtml = "Users Online: ";
                data.statlist.online.forEach(function (userOnline) {
                    onlinehtml = onlinehtml + userOnline + ", ";
                });
            }
            });

            if (html != oldhtml) {
                document.getElementById("messages").innerHTML = html;
            }
            if (nummessageshtml != oldnummessageshtml) {
                document.getElementById("nummessages").innerHTML = nummessageshtml;
            }
            if (onlinehtml != oldonlinehtml) {
                document.getElementById("online").innerHTML = onlinehtml;
            }


        }, 500);//time in milliseconds 
        
        var getJSON = function(url, callback) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.responseType = 'json';
            xhr.onload = function() {
            var status = xhr.status;
            if (status === 200) {
                callback(null, xhr.response);
            } else {
                callback(status, xhr.response);
            }
            };
            xhr.send();
        };

        function submitForm() {
            var http = new XMLHttpRequest();
            http.open("POST", "{% url 'proapp:submit' %}", true);
            http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            var params = "textbox=" + document.getElementById("messagebox").value + "&csrfmiddlewaretoken={{ csrf_token }}"; 
            http.send(params);
            http.onload = function() {
                //alert(http.responseText);
            }
            document.getElementById("messagebox").value = "";
        }

        document.getElementById('messagebox').onkeydown = function(event) {
            if (event.keyCode == 13) {
                submitForm();
            }
        }

    
    
    </script>
</html>