<html>
    <head>
        <title>Spencer's Website</title>
    </head>
    <body>
        <p id="messages"></p>
        Message <input id="messagebox" type="text" maxlength="200" placeholder="Message" name="textbox" />
        <button onclick="submitForm()">LOL</button>
        <p id="online"></p>
        <p id="nummessages"></p>
    </body>

    <script>
        

        var html = "";
        var oldhtml = "";


        nummessageshtml = "";
        onlinehtml = "";
        oldnummessageshtml = "";
        oldonlinehtml = "";
        
        setInterval(function()
        { 

            // UPDATE MESSAGE FEED
            getJSON('{% url "proapp:getmessages" %}',
            function(err, data) {
            if (err !== null) {
                html = "error";
            } else {
                oldhtml = html;
                html = "";
                data.forEach(function (arrayItem) {
                    html = "<br>" + arrayItem.message_text + html;
                });
            }
            });

            if (html != oldhtml) {
                document.getElementById("messages").innerHTML = html;
            }


            // UPDATE STATS FEED
            getJSON('{% url "proapp:getstats" %}',
            function(err, data) {
            if (err !== null) {
                html = "error";
            } else {
                oldnummessageshtml = nummessageshtml;
                oldonlinehtml = onlinehtml;
                nummessageshtml = "";
                onlinehtml = "";
                nummessageshtml = "Total Messages Sent: <b>" + data.nummessages + "</b>";
                onlinehtml = "Users Online: ";
                data.online.forEach(function (userOnline) {
                    onlinehtml = onlinehtml + userOnline + ", ";
                });
            }
            });

            if (nummessageshtml != oldnummessageshtml) {
                document.getElementById("nummessages").innerHTML = nummessageshtml;
            }
            if (onlinehtml != oldonlinehtml) {
                document.getElementById("online").innerHTML = onlinehtml;
            }


        }, 250);//time in milliseconds 
        
        var getJSON = function(url, callback) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.responseType = 'json';
            xhr.onload = function() {
            var status = xhr.status;
            if (status === 200) {
                callback(null, xhr.response);
            } else {
                callback(status, xhr.response);
            }
            };
            xhr.send();
        };

        function submitForm() {
            var http = new XMLHttpRequest();
            http.open("POST", "{% url 'proapp:submit' %}", true);
            http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            var params = "textbox=" + document.getElementById("messagebox").value + "&csrfmiddlewaretoken={{ csrf_token }}"; 
            http.send(params);
            http.onload = function() {
                //alert(http.responseText);
            }
            document.getElementById("messagebox").value = "";
        }

        document.getElementById('messagebox').onkeydown = function(event) {
            if (event.keyCode == 13) {
                submitForm();
            }
        }

    
    
    </script>
</html>